.cyber-title {
  font-family: "Orbitron", monospace;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: var(--text-shadow);
  background: var(--gradient-matrix);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.terminal-text {
  color: hsl(var(--matrix-green));
  text-shadow: 0 0 5px hsl(var(--matrix-green) / 0.5);
}
.text-matrix-white{
  color: hsl(var(--matrix-white));
}
.text-matrix-gray{
  color: hsl(var(--matrix-gray));
  margin-left: 1rem;
  font-size: .875;
  text-transform: lowercase;
}
